:root {
  --aspect-ratio: 16 / 9;
  --slide-width: 1400px;
}

.twitter {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
}

.title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

/* Main slider */
.slides {
  width: var(--slide-width);
  aspect-ratio: var(--aspect-ratio);
  display: flex;
  overflow-x: scroll;
  position: relative;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  container-type: scroll-state;
  anchor-name: --slides;
  scroll-behavior: smooth;
  margin-top: 2rem;

  &::scroll-button(*) {
    background: none;
    border: none;
    color: white;
    font-family: 'Material Symbols Outlined';
  }

  &::scroll-button(*):disabled {
    color: gray;
  }

  &::scroll-button(left) {
    content: "arrow_back_ios" / "Scroll Left";
  }
  
  &::scroll-button(right) {
    content: "arrow_forward_ios" / "Scroll Right";
  }

  scroll-marker-group: after;

  &::scroll-marker-group {
    position: fixed;
    position-anchor: --slides;
    position-area: block-end;
    margin: 1.7rem;
    display: grid;
    grid-auto-columns: 5px;
    grid-auto-flow: column;
    gap: 0.25rem;
  }
  
  .slide::scroll-marker {
    content: '';
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 100%;
    border: 1px solid white;
    display: block;
  }

  .slide::scroll-marker:target-current {
    background: white;
  }
}

.slide {
  overflow: hidden;
  min-width: var(--slide-width);
  aspect-ratio: var(--aspect-ratio);
  background: rgb(34, 33, 36);
  color: white;
  transform-origin: center center;
  scroll-snap-align: center;
  padding: 0 2rem;
  position: relative;
  text-align: center;
}

.slide-container {
  width: var(--slide-width);
  aspect-ratio: var(--aspect-ratio);
  border-radius: 1rem;
}

body {
  display: grid;
  place-content: center;
}